*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    
    padding: 20px;
    background-color:rgb(5, 142, 240) ;
    text-align: center;
    color: #fff;
}

#sobre{
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 300px;
    top: 200px;
    font-size: 28px;
}

.cta{
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 300px;
    top: 300px;
    font-size: 32px;
    width: 600px;
}

.cta2{
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: baseline;
    left: 300px;
    top: 400px;
    font-size: 28px;
    width: 600px;
    font-size: 20px;
}

.cta2 h3{font-weight: 300; font-size: 18px;}
.cta2 p{font-weight: 100; font-size: 15px;}

.main-div{border: 1px solid #fff;}

#back{
    background-image: url(./istockphoto-1452604857-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 2px;
   
}